.container
{
  max-width: 560px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid green;
  padding: 20px;
}



.add-tasks-container
{
  width: 100%;
  display: flex;
  margin: 15px 0;
  justify-content: space-between;

}

.add-task-input
{
  height: 40px;
  border: none;
  flex: 2;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #444;
  color: #eee;
  font-size: 16px;


}

.btn-add
{
  background-color: green;
  height: 40px;
  padding: 0 10px;
  color: #444;
  border: none;
  font-size: 16px;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;

}

.task-container
{
   background-color: #444;
  padding: 15px 20px;
  margin: 8px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;

}

.tasks-title
{
  width: 100%;
}

.delete-btn
{
  border: none;
  cursor: pointer;
  background-color: green;
  color: #444;
}